*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.container{
    display: inline-flex;
    flex-flow: column nowrap;
    width: 960px;
    margin: 5px;
    padding: 5px;
}

    /*Header*/

header{
    display: inline-flex;
    flex-flow: column nowrap;
    box-shadow: 0 0 2px darkgrey; /* Параметры тени */
    border-radius: 3px;
}

header>h1{
    text-align: left;
    font-size: 48px;
    margin-bottom: 15px;
    color: darkgrey;
    margin-left: 10px;
}

header>ul{
    list-style: none;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
}
header>ul>li{
    display: inline;
    padding: 5px 15px 5px 15px;

}

header>ul>li>a{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
}

    /*Content*/

.content{
    margin-top: 10px;
    display: inline-flex;
    flex-flow: column nowrap;
    box-shadow: 0 0 2px darkgrey; /* Параметры тени */
    border-radius: 3px;
}

    /*About*/

.about_project{
    padding: 5px;
}

.about_project>h2{
    color: darkgrey;
    text-align: left;
    font-size: 24px;
    margin: 0 0 15px 10px;
}

.about_project>h3{
    color: #868686;
    text-align: left;
    font-size: 18px;
    margin: 20px 0 5px 10px;
}
.about_project>p{
    text-indent: 10px;
    text-align: justify;
    line-height: 18px;
}

    /*Tasks block*/

.task{
    margin: 5px;
    width: 940px;
    display: inline-flex;
    flex-flow: row wrap;
    padding: 5px;
    justify-content: flex-start;
    box-shadow: 0 0 2px darkgrey; /* Параметры тени */
    border-radius: 3px;
}
.number{
    width: 30px;
    color: #868686;
    padding: 5px;
}
.task_name{
    flex-grow: 1;
    text-align: left;
    color: darkgrey;
    text-decoration: none;
    padding: 5px;
}
.task_name:hover{
    color: darkblue;
}
.task_condition{
     width: 900px;
     text-align: justify;
     text-indent: 10px;
     padding: 5px;

}

.hide{
    display: none;
}
.show{
    display: block;
}
    /*Footer*/

footer{
    display: inline-flex;
    flex-flow: column nowrap;
    width: 960px;
    height: 30px;
    box-shadow: 0 0 2px darkgrey; /* Параметры тени */
    border-radius: 3px;
    justify-content: center;
    align-content: center;

}
footer>span{
    height: 20px;
    font-size: 14px;
    vertical-align: center;
    color: #e0e0e0;
}





